.wt-plans-list
  display flex
  flex-direction column
  gap 20px
  margin 0
  padding 0
  list-style none
  .wt-icon-plan
    [data-stroke]
      stroke-width 1px
      stroke var(--wt-color-gray)
  .wt-plans-list-item
    display flex
    align-items center
    justify-content space-between
    gap 16px
    .wt-plans-list-item-content
      display flex
      align-items center
      gap 16px
    .wt-icon-arrow
      transform rotate(-45deg)
    strong
      display block
      font-size var(--wt-font-size-sm)
      font-weight 700
    span
      display block
      margin-top 4px
      font-size var(--wt-font-size-xxxs)
      color var(--wt-color-gray-mid-darker)
