.wt-retirement-plan-list
  margin-top 32px
  .wt-retirement-plan-list-header
    display flex
    align-items center
    justify-content space-between
    margin-bottom 16px
  .wt-retirement-plan-list-table
    overflow hidden
    border 1px solid var(--wt-color-gray-light)
    border-radius 12px
    background-color var(--wt-color-lightest)
  table
    width 100%
    border-collapse collapse
  th
    padding 20px 24px
    color var(--wt-color-gray)
    font-size var(--wt-font-size-xxs)
    font-weight 700
    text-align left
    text-transform uppercase
    letter-spacing 1px
  td
    padding 20px 24px
    border-top 1px solid var(--wt-color-gray-light)
    font-size var(--wt-font-size-sm)
  td:first-child
    text-transform uppercase
