.wt-retirement-plan-list-header
  display flex
  align-items center
  justify-content space-between
  margin 0 auto 10px
  max-width 200px

.wt-retirement-plan-list-table
  td
    text-align center
    &:first-child
      text-transform uppercase
