.wt-wizard-step
  width 100%
  h2
    margin-bottom 60px
    font-size var(--wt-font-size-xl)
    font-weight 700
    text-align center
  .wt-wizard-step-footer
    display flex
    justify-content center
    gap 12px
    margin-top 60px
