@require 'mixins.styl'

.wt-retirement-plan-wizard
  display flex
  flex-direction column
  gap 60px
  width 100%

.wt-retirement-plan-wizard-balance-input
  width 100%
  margin-top 8px
  padding 12px 16px
  border 0
  border-radius 12px
  background-color var(--wt-color-gray-mid-lighter)
  color var(--wt-color-darkest)
  font-family var(--wt-font-family-primary)
  font-size var(--wt-font-size-sm)
  box-sizing border-box

+breakpoint('sm')
  .wt-retirement-plan-wizard
    flex-direction row
    justify-content center
  .wt-radio
    max-width 340px
