.wt-plan-retirement-wizard
  .wt-plan-retirement-wizard-step-2
  .wt-plan-retirement-wizard-step-3
  .wt-plan-retirement-wizard-step-4
  .wt-plan-retirement-wizard-step-5
  .wt-plan-retirement-wizard-step-6
    margin 0 auto
    max-width 400px
    input
      width 100%
      margin-top 8px
    .wt-tip-box
      margin-top 30px
