.wt-button
  display inline-flex
  align-items center
  padding 0 32px
  height 40px
  background-color var(--wt-color-gray-light)
  color var(--wt-color-gray-dark)
  font-family var(--wt-font-family-primary)
  font-size var(--wt-font-size-sm)
  font-weight 700
  text-decoration none
  border-radius 12px
  border 0
  box-sizing border-box
  cursor pointer
  &.is-primary
    background-color var(--wt-color-primary)
    color var(--wt-color-lightest)
    --wt-color-icon var(--wt-color-lightest)
  &.is-secondary
    background-color var(--wt-color-blue-lighter)
    color var(--wt-color-blue-mid-dark)
    --wt-color-icon var(--wt-color-blue-mid-dark)
  &.is-small
    width 28px
    height 28px
    padding 0
    border-radius 6px
    .wt-icon
      width 28px
      height 28px
  &:disabled,
  &[aria-disabled="true"]
    background-color var(--wt-color-gray-light)
    color var(--wt-color-gray-dark)
    cursor default
    pointer-events none
