.wt-close-button
  display inline-flex
  .wt-icon-button
    width 28px
    height 28px
    border-radius 8px
    .wt-icon
      width 24px
      height 24px
      [data-stroke]
        stroke-width 3.4px
