.wt-tip-box
  position relative
  padding 16px 16px 16px 40px
  background-color var(--wt-color-green-lighter)
  border 1px solid var(--wt-color-green-mid-light)
  border-radius 12px
  --wt-color-icon var(--wt-color-green-mid-darker)
  h3
    margin 4px 0 15px
  .wt-icon-bulb
    position absolute
    top 10px
    left 6px
    width 32px
    height 32px
    [data-stroke]
      stroke-width 1px

.wt-tip-box h3,
.wt-tip-box p
  font-size var(--wt-font-size-xs)
  color var(--wt-color-green-mid-darker)
