@import 'vars'

@font-face {
  font-family Inter
  font-style normal
  font-weight 400
  font-display swap
  src url('@src/base/fonts/Inter-Regular.woff2') format('woff2')
}

@font-face {
  font-family Inter
  font-style normal
  font-weight 700
  font-display swap
  src url('@src/base/fonts/Inter-Bold.woff2') format('woff2')
}

:root {
  font-family Inter, sans-serif
  font-feature-settings 'liga' 1, 'calt' 1; /* fix for Chrome */
}

html,
body
  margin 0
  background-color var(--wt-color-gray-lighter)
  color var(--wt-color-darkest)
  font-size 16px
  font-weight 400

html,
body,
h1, h2, h3, h4, h5, h6, p
  margin 0
  color var(--wt-color-darkest)

p
  line-height 1.2
