form-control()
  border 1px solid transparent
  box-sizing border-box
  outline 0 solid var(--wt-color-blue-lighter)
  transition all 300ms

form-control-focus()
  border 1px solid var(--wt-color-blue-mid-light)
  outline 5px solid var(--wt-color-blue-lighter)
  outline-offset 0

breakpoint($size)
  if($size == 'xs')
    @media screen and (min-width 0)
      {block}
  if($size == 'sm')
    @media screen and (min-width 768px)
      {block}
  else if ($size == 'md')
    @media screen and (min-width 992px)
      {block}
  else if ($size == 'lg')
    @media screen and (min-width 1200px)
      {block}
