:root {
  // COLORS:GRAY
  --wt-color-gray-lighter     : hsl(230, 5%, 95%);
  --wt-color-gray-mid-lighter : hsl(230, 5%, 90%);
  --wt-color-gray-light       : hsl(230, 5%, 85%);
  --wt-color-gray-mid-light   : hsl(230, 5%, 75%);
  --wt-color-gray             : hsl(230, 5%, 65%);
  --wt-color-gray-mid-dark    : hsl(230, 5%, 55%);
  --wt-color-gray-dark        : hsl(230, 5%, 45%);
  --wt-color-gray-mid-darker  : hsl(230, 5%, 35%);
  --wt-color-gray-darker      : hsl(230, 5%, 25%);
  // COLORS:BLUE
  --wt-color-blue-lighter     : hsl(230, 90%, 95%);
  --wt-color-blue-mid-lighter : hsl(230, 90%, 90%);
  --wt-color-blue-light       : hsl(230, 90%, 85%);
  --wt-color-blue-mid-light   : hsl(230, 90%, 75%);
  --wt-color-blue             : hsl(230, 90%, 65%);
  --wt-color-blue-mid-dark    : hsl(230, 90%, 55%);
  --wt-color-blue-dark        : hsl(230, 90%, 45%);
  --wt-color-blue-mid-darker  : hsl(230, 90%, 35%);
  --wt-color-blue-darker      : hsl(230, 90%, 25%);
  // COLORS:SEMANTIC
  --wt-color-lightest         : #FFF;
  --wt-color-darkest          : #000;
  --wt-color-primary          : var(--wt-color-blue);

  // FONT-SIZES
  --wt-font-size-xxxs       : 0.625rem; // 10px
  --wt-font-size-xxs        : 0.750rem; // 12px
  --wt-font-size-xs         : 0.875rem; // 14px
  --wt-font-size-sm         : 1.000rem; // 16px
  --wt-font-size-md         : 1.125rem; // 18px
  --wt-font-size-lg         : 1.250rem; // 20px
  --wt-font-size-xl         : 1.500rem; // 24px
  --wt-font-size-xxl        : 2.250rem; // 36px
  --wt-font-size-xxxl       : 3.000rem; // 48px

  // FONT-FAMILIES
  --wt-font-family-primary  : 'Inter', Helvetica, Arial, sans-serif;

  // LAYERS
  --wt-layer-base           : 01;
  --wt-layer-lowest         : 10;
  --wt-layer-low            : 20;
  --wt-layer-middle         : 30;
  --wt-layer-high           : 40;
  --wt-layer-highest        : 50;
}
