.wt-topbar
  padding 0 20px;
  .wt-topbar-content
    display flex
    justify-content space-between
    align-items center
    max-width 800px
    height 70px
    margin 0 auto
  .wt-topbar-left-slot
    h1
      font-size var(--wt-font-size-xs)
      font-weight 700
  .wt-topbar-right-slot
    margin-left auto
    .wt-logo
      width 27.5px
