.wt-topbar
  padding 0 20px;
  .wt-topbar-content
    display grid
    grid-template-columns 1fr auto 1fr
    align-items center
    max-width 800px
    height 70px
    margin 0 auto
  .wt-topbar-left-slot
    justify-self start
    grid-column 1
    h1
      font-size var(--wt-font-size-xs)
      font-weight 700
  .wt-topbar-mid-slot
    justify-self center
    grid-column 2
    .wt-logo
      width 27.5px
  .wt-topbar-right-slot
    justify-self end
    grid-column 3
    .wt-logo
      width 27.5px
